<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сегментация клиентов</title>
</head>
<body>
    <h3>Сегментация клиентов</h3>
<div>
  <form action="/result" method="POST">
    <label for="Убыточность, %">Убыточность, %</label>
    <input type="text" id="Убыточность, %" name="Убыточность, %">
    <br>
    <label for="Уровень заработной платы, руб/год">Уровень заработной платы, руб/год</label>
    <input type="text" id="Уровень заработной платы, руб/год" name="Уровень заработной платы, руб/год">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>